include README.md
include LICENSE
include pyproject.toml
include setup.py
include setup.cfg
recursive-include ai_python_lab *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store
global-exclude *.so
